@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.content1{
  background:transparent;
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
  margin-bottom: 10px;
}
.content2{
  background:transparent;
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.banner{
  background: url("photos/banner1.jpg") no-repeat;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about{
  padding: 30px 0;
  text-align: justify;
}
.about2{
  margin-top: 300px;
  background-color:  hsl(174, 59%, 55%);
  padding: 30px 0;
  text-align: justify;
}
.about .title{
  font-size: 38px;
  font-weight: 300;
}
.about2 .title2{
  font-size: 30px;
  font-weight: 300;
}
ul{
  margin: 0;
  padding: 0;
}
.content2 li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.content2 li a{
  color: black;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.content2 li a:hover{
  color: #b9b9b9;
}
.content1 li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.content1 li a{
  color: black;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.content1 li a:hover{
  color: #b9b9b9;
}
@media (max-width: 1230px) {
  .content1{
    padding: 0 60px;
  }
  .content2{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content1{
    padding: 0 40px;
  }
  .content2{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content1F{
    padding: 0 30px;
  }
  .content2{
    padding: 0 30px;
  }
}
@media (max-width: 380px) {
.about2{
    margin-top: 00px;
}
 .about .title{
    font-size: 28px;
 }
 .about2 .title2{
  font-size: 28px;
}
 .about .p{
  font-size: 18px;
 }
 .about2 .p{
  font-size: 18px;
 }
}
/* #slider {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 10%;
}
#slider input[type=radio] {
  display: none;
}
#slider label {
  cursor:pointer;
  text-decoration: none;
}
#slides {
  padding: 10px;
  border: 3px solid #ccc;
  background: #fff;
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 300px;
}
#slides .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
#slides .slide_1 {
  background: #00171F;
}
#slides .slide_2 {
  background: #003459;
}
#slides .slide_3 {
  background: #007EA7;
}
#slides .slide_4 {
  background: #00A8E8;
}
#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float:left;
  margin: 0 0 0 -50px;
  display: block;
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}
@media screen and (max-width: 2000px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
     margin: 0;
  }
  #slides {
     max-width: calc(100% - 140px);
     margin: 0 auto;
  }
} */