*{
    background-size: cover;
    background-attachment: fixed;
}

body{
  background-image: url("1.jpg");
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}