*{
    background-size: cover;
    background-attachment: fixed;

}
.image {
   border-radius: 24px;
   width: 1000px;
}
body{
  background-image: url("1.jpg");
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {
  margin-top: 100px;
  text-align: center;
  background: transparent;
}

.header {
  padding-top: 30px;
  color: #444;
  font-size: 20px;
  margin: auto;
  line-height: 50px;
  margin-bottom: 30px;
  background-color: #00a5bb;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 20%;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.sub-container {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(215, 231, 250);
  border-radius: 24px;
}

.teams {
  margin: 0px;
  padding: 20px;
  max-width: 30%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}

.teams:hover {
  background: rgb(221, 221, 221);
  border-radius: 12px;
}

.teams img {
  width: 200px;
  height: 200px;
}

.name {
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.desig {
  font-style: italic;
  color: #888;
}

.about {
  margin: 20px 0;
  font-weight: lighter;
  color: #4e4e4e;
}

.social-links {
  margin: 14px;
}

.social-links a {
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: .4s;
}

.social-links a:hover {
  transform: scale(1.5);
}

.social-links a i {
  color: #444;
}


.content2{
  background:transparent;
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
} 
.about2{
  margin-top: 100px;
  background-color:  #00a5bb;
  padding: 30px 0;
  text-align: justify;
}
.about2 .title2{
  font-size: 30px;
  font-weight: 300;
}
.content2 li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.content2 li a{
  color: black;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.content2 li a:hover{
  color: #b9b9b9;
}
@media (max-width: 1230px) {
  .content2{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content2{
    padding: 0 40px;
  }
}
@media (max-width: 600px) {
  .content2{
    padding: 0 30px;
  }
  .teams {
      max-width: 100%;
  }
  .header {
    font-size: 40%;
  } 
  .image {
    max-width: 100%;
  }
}
@media (max-width: 380px) {
.about2{
    margin-top: 00px;
} 
 .about2 .title2{
  font-size: 28px;
}
 .about2 .p{
  font-size: 18px;
 }
}